<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_GrouponCoupons>
            <version>0.3.0</version>
        </Elgentos_GrouponCoupons>
    </modules>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <grouponcoupons>
                        <type>singleton</type>
                        <class>Elgentos_GrouponCoupons_Model_Header</class>
                        <method>add</method>
                    </grouponcoupons>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
    <adminhtml>
        <menu>
            <promo>
                <children>
                    <import>
                        <title>Groupon Coupons Import</title>
                        <sort_order>71</sort_order>
                        <action>grouponcoupons/adminhtml_index</action>
                    </import>
                </children>
            </promo>
        </menu>
        <translate>
            <modules>
                <Elgentos_GrouponCoupons>
                    <files>
                        <default>Elgentos_GrouponCoupons.csv</default>
                    </files>
                </Elgentos_GrouponCoupons>
            </modules>
        </translate>
        <layout>
            <updates>
                <grouponcoupons>
                    <file>grouponcoupons.xml</file>
                </grouponcoupons>
            </updates>
        </layout>
        <translate>
            <modules>
                <Elgentos_Import>
                    <files>
                        <default>Elgentos_GrouponCoupons.csv</default>
                    </files>
                </Elgentos_Import>
            </modules>
        </translate>
        <layout>
            <updates>
                <grouponcoupons>
                    <file>elgentos_grouponcoupons.xml</file>
                </grouponcoupons>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <grouponcoupons>
                <use>admin</use>
                <args>
                    <module>Elgentos_GrouponCoupons</module>
                    <frontName>grouponcoupons</frontName>
                </args>
            </grouponcoupons>
        </routers>
    </admin>
    <global>
        <models>
            <grouponcoupons>
                <class>Elgentos_GrouponCoupons_Model</class>
            </grouponcoupons>
        </models>
        <resources>
            <grouponcoupons_setup>
                <setup>
                    <module>Elgentos_GrouponCoupons</module>
                    <class>Elgentos_GrouponCoupons_Model_Mysql4_Setup</class>
                </setup>
            </grouponcoupons_setup>
        </resources>
        <blocks>
            <grouponcoupons>
                <class>Elgentos_GrouponCoupons_Block</class>
            </grouponcoupons>
        </blocks>
        <helpers>
            <grouponcoupons>
                <class>Elgentos_GrouponCoupons_Helper</class>
            </grouponcoupons>
        </helpers>
    </global>
</config>
